#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--bg-dark-border);

    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;

    z-index: 1000;

    .logo {
        width: 20%;
        text-align: center;
        //
        font-size: 22px;

        .icon {
            font-size: 30px;
            vertical-align: -7px;
            color: #ea3323;
            margin-right: 5px;
        }
    }
    .search {
        border-left: 1px solid var(--bg-dark-border);

        width: 80%;
        padding: 10px 20px;
        position: relative;

        .glass {
            position: absolute;
            left: 33px;
            top: 22px;
            color: #757575;
        }

        input {
            width: 100%;
            background: var(--bg-dark-border);
            border: 0;
            padding: 10px 20px 10px 40px;
        }
    }
}
@media (max-width: 800px) {
    #header {
        flex-direction: column;
        .logo {
            width: 100%;
            padding-top: 5px;
        }
        .search {
            width: 100%;
            padding: 10px;
            border: 0;
        }
    }
}
